exportPattern("^[[:alpha:]]+")
importFrom("methods", "new")
importFrom("stats", "na.omit", "quantile", "runif")
importFrom("foreach", "foreach", "%dopar%")
importFrom("magrittr", "%>%")
importFrom("assertthat", "assert_that")
importFrom("dplyr", "group_by", "summarize", "filter", "select")
importFrom("readr", "read_delim")
importFrom("tibble", "tibble", "as_tibble")
importFrom("utils", "flush.console", "setTxtProgressBar", "txtProgressBar")
importFrom("ggplot2", "coord_fixed", "geom_text", "ggplot", "theme", "theme_void",
           "aes")
importFrom("cowplot", "plot_grid", "draw_label", "ggdraw")
importFrom("RColorBrewer", "brewer.pal")
importFrom("ggforce", "geom_circle")
